<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>員工名單</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>
<table>
    <tr>
        <th colspan="6">員工名單</th>
    </tr>
    <tr>
        <th>流水號</th>
        <th>員工姓名</th>
        <th>年齡</th>
        <th>性別</th>
        <th>信箱</th>
        <th>操作</th>
    </tr>
    <tr th:each="employee,status : ${list}">
        <td th:text="${status.count}"></td>
        <td th:text="${employee.empName}"></td>
        <td th:text="${employee.age}"></td>
        <td th:text="${employee.gender}"></td>
        <td th:text="${employee.email}"></td>
        <td>
            <a href="">刪除</a>
            <a href="">修改</a>
        </td>
    </tr>
</table>
</body>
</html>